repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: python-compileall
        name: python -m compileall
        entry: python3 -m compileall .
        language: system
        pass_filenames: false

      - id: python-unittest
        name: python -m unittest
        entry: python3 -m unittest discover -s tests -p "test_*.py"
        language: system
        pass_filenames: false
